{% extends 'base.html' %}

{% block title %}
To Do List
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>My Lists</h1>
            <p><a href="{% url "todo_list_create" %}">Create a New List</a></p>
            <p><a href="{% url "todo_item_create" %}">Create a New Item</a></p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                    <tr>
                        <td><a href="{% url "todo_list_detail" todo.pk %}">{{ todo.name }}</a></td>
                        <td>{{ todo.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
