{% extends 'base.html' %}

{% block title %}
Delete List
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Are you sure?</h1>
        <form method="POST">
            {% csrf_token %}
        <button>Delete</delete>
        </form>
    </div>
</main>
{% endblock content %}
