{% extends 'base.html' %}

{% block title %}
Create A To Do List
{% endblock title %}


{% block content %}
<main>
    <div>
        <h1>Create A New List</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="name">
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}

